<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.engine.dao.mapper.CouponTemplateRemindMapper">

    <resultMap id="BaseResultMap" type="com.lk.engine.dao.entity.CouponTemplateRemindDO">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <id property="couponTemplateId" column="coupon_template_id" jdbcType="BIGINT"/>
            <result property="information" column="information" jdbcType="BIGINT"/>
            <result property="shopNumber" column="shop_number" jdbcType="BIGINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,coupon_template_id,information,
        shop_number,start_time
    </sql>
</mapper>
